body{
    margin: 0px;
    padding: 0px;
    width: auto;
}

.container{
    margin-top: 20px;
}
#right{
    background-color: #DB7093;
}



.inner-text{
    padding-top: 40px;
}

.enter_name{
    padding-top: 40px;
}

.level{
    padding: 40px 0 80px 0 ;
}

.but{
    margin-top:20px ;
}


