.main{
    background-color: #DB7093;
}

.the_row{
    margin: 20px 0;
}

.card-img-top{
    border-radius: 25px;
}

@media (max-width: 480px) {

    .main{
        padding: 0 15px
    }
  
    .card-front{
        width: 3.5em !important;
        height: 5.5em !important;
        
       }

    .card-back{
    width: 3.5em !important;
    height: 5.5em !important;
    }

    .the_row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card-img-top{
        border-radius: 0px;
    }
}

.card-flip {
    width: 100%;
    height: 100%;
    
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}

.card-flip div {
  transition: transform 500ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;  
}

.card-flip .card-front {
    position: absolute;
    
    transform: rotateY(0deg);
}

.card-flip .card-back {
    
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.disable-card{
    pointer-events:none;
}

#alert1{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: green;
   
}

#alert2{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: red;
    
}

.message{
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#score{
    background-color: black;
    height: 50px;
    font-family: "Times New Roman", Times, serif;
    color: white;
}

.modal.hidden {
    display: none;
  }